.myButton{
    background-color:yellowgreen;
    color: white; 
    border-radius: 25px;
    font-size: small;
}

body{
    
    background-image: url(img/nyc\ park.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    
}
header
{
    
    background-color: greenyellow;
    border-style: solid;
    
}
main
{
    margin-bottom: auto;
    border-style: solid;
}

footer
{
    background-color: greenyellow;
    border-style: solid;
    position: fixed;
    text-align: center;
    width: 100%;
    bottom: 0;
}
.hnav
{
    display: block;
    
}

.hdiv
{
    text-align: center;
    color: black;

}
.bdiv
{
    text-align: center;
    height: auto;
    color: white;
}
.fdiv
{
    text-align: center;
}

#menu_bar
{
    border-style: solid ;
    display: block;
    width: 10px;
    height: 10px;
    position: fixed;
    right: 1;
    top: 1;
}

.hdiv nav{
    display: none;
}

.hdiv:hover nav
{
    display: block;
}

.bdiv ::selection
{
    color: black;
}